
.Float {
  width: 100px;
  height: 100px;
  background-color:rgb(93, 186, 207);
  top: 10px;
  left: 10px;
}
   
.Floatr {
    width: 100px;
    height: 100px;
    background-color: rgb(59, 198, 244);
    position: absolute;
    bottom: 10px;
    right: 0;
}
